{% extends 'base.html' %}
{% load crispy_forms_tags%}

{% block title %}Formulário de categoria{% endblock title %}

{% block conteudo %}
<main class="container">
  <br>
 
    <a href="{% url 'cadastrar_produto' %}">
        <button class="btn btn-primary" type="button">Cadastrar Produto</button>
    </a>
    <a href="{% url 'home_estoque' %}">
      <button class="btn btn-info" type="button">Produtos Cadastrados</button>
    </a>
   
    <br>

<h1>Cadastrar Categoria</h1>
<form method="POST">
  {% csrf_token %}
  {{ form | crispy}}
  <button type="submit" class="btn btn-primary">Salvar</button>
</form>
<br>
</main>
{% endblock %}






  


