{% extends 'base.html' %}
{% block title %}Listar Produtos{% endblock title %}

{% block conteudo %}

<main class="container">
  {% if messages %}
             
      <ul class="messages">
        
          {% for message in messages %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong> 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}
      </ul>
      
      {% endif %}
    <h4>ESTOQUE</h4>
  <form method="GET">
    <div class="input-group">
      <input type="search" name ="buscar" class="form-control rounded" id ="text" placeholder="Buscar por nome do produto, codigo de barras e descrição" aria-label="Search"
        aria-describedby="search-addon"/>
      <button type="submit" class="btn btn-outline-primary">Pesquisar</button>
    </div>
  </form>
  <br>
  
   
   <div>
      <a href="{% url 'cadastrar_produto' %}" class="btn btn-primary">Cadastrar Produto</a>
      <a href="{% url 'cadastro_categoria' %}" class="btn btn-primary">Cadastrar Categoria</a>
      <a href="{% url 'criar_saida_estoque' %}" class="btn btn-danger">Saída</a>
      <a href="{% url 'criar_entrada_estoque' %}" class="btn btn-success">Entrada</a>
    </div>
    <br>
    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Código de barra</th>
            <th scope="col">Produto</th>
            <th scope="col">Categoria</th>
            <th scope="col">Estoque Atual</th>
            <th scope="col">Valor</th>
            <th scope="col">Ações</th>
        </thead>
        <tbody>
        
            {% for produto in product_list %}
            
            <tr>
              <th scope="row">{{ produto.pk }}</th>
                <td> {{ produto.codigo_barra }}</td>
              <td> {{ produto.name_product}}</td>
                <td>{{ produto.categoria }}</td>
              <td>{{ produto.estoque_atual }}</td>
               <td>{{ produto.valor_venda }}</td>
              <td>
                 <a href="{% url 'atualiza_produto' pk=produto.pk %}" class="btn btn-primary btn-sm">Alterar</a>
                <a href="{% url 'delete_produto' pk=produto.pk %}" class="btn btn-danger btn-sm">Excluír</a>
              </td>
            </tr>
            {% endfor %}
         
        
        </tbody>
      </table>
   
</main>
<br>
<br>

{% endblock %}
