{% extends 'base.html' %}
{% block title %}Listar Fornecedor{% endblock title %}
{% block conteudo %}

<main class="container">
 
    <h2>Fornecedor</h2>
    <br><br>
  <form method="GET">
    <div class="input-group">
      <input type="search" name ="buscar" class="form-control rounded" id ="text" placeholder="Buscar pelo numero do orçamento ou nome cliente" aria-label="Search"
        aria-describedby="search-addon"/>
      <button type="submit" class="btn btn-outline-primary">Pesquisar</button>
    </div>
  </form>
  <br>
    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Fornecedor</th>
            <th scope="col">Ações</th>
        </thead>
        <tbody>
        
            {% for fornecedor in fornecedor_list %}
            
            <tr>
              <th scope="row">{{ fornecedor.pk }}</th>
                <td> {{ fornecedor.nome }}</td>
             
              <td>
                 <a href="{ url 'delete_orcamento' pk=compra.pk %}" class="btn btn-danger btn-sm">Excluír</a>
              </td>
            </tr>
            {% endfor %}
         
        
        </tbody>
      </table>
   
</main>
<br>
<br>

{% endblock %}
